@using CoreTest.Models.Entity
@model CoreTest.Models.Entity.Photo;

@{
    ViewData["Title"] = "Index";
}


@if (User.Identity.IsAuthenticated)
{
    <div class="d-flex justify-content-end">
        <span>Hello @User.Identity.Name </span>,&nbsp;
        <a href="@Url.Action("Logout", "Account")">Exit</a>
    </div>
}

<table id="imagesTable" class="table table-borderless" data-toggle="table" data-unique-id="id"
       data-url="@(Url.Action("GetListfromDb","Photos"))"></table>

<form id="post_file_form" enctype="multipart/form-data" method="post">
    <div class="d-flex justify-content-center">
        <div class="btn sendbtn btn-outline-info">
            <span class="font-weight-bold">Select image</span>
            <input asp-for="FormFile" type="file" accept="image/*" name="FormFile" />
            <span asp-validation-for="FormFile" class="text-danger font-weight-bold"></span>
        </div>
    </div>
    <hr />
    <div class="d-flex justify-content-end">
        <div class="btn-group" role="group">
            <span id="btn_reset" class="btn btn-outline-dark font-weight-bold">Cancel</span>
            <span id="save_button" class="btn btn-outline-success font-weight-bold">
                Save<img id="loaderimg" src="~/images/loaderimg.gif" />
            </span>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var $table = $('#imagesTable'), selections = [];
        $table.bootstrapTable({
            showHeader: true,
            checkboxHeader: false,
            sortable: false,
            undefinedText: '',
            formatNoMatches: function() {
                return 'No Photos';
            },
            columns: [
                {
                    title: '',
                    formatter: showItemImage
                },
                {
                    field: 'photoName',
                    sortable: true,
                },
                {
                    title: '',
                    formatter: showDeleteButton,
                    events: {
                        'click button': function (e, value, row, index) {
                            $.ajax({
                                url: 'Photos/Delete',
                                type: 'POST',
                                data: { guid: row.guid },
                                success: function () {
                                   $table.bootstrapTable('hideRow', { index: index });
                                },
                            });;

                        }
                    }
                }
            ]
        });


        $table.on('load-success.bs.table', function() {
            $("a#single_image").fancybox();
        });

        function showItemImage(value, row, index, field) {
            var imageRow = '<a id="single_image" href="' +
                '@Url.Action("ImageResize", "Photos")' +
                '/' + row.guid + '"><img class="img-thumbnail mx-auto d-block" src="' +
                '@Url.Action("ImageResize", "Photos")' +
                '/' + row.guid + '?width=320" alt="Foto" /></a>';
            return imageRow;
        }

        function showDeleteButton(value, row, index, field) {
            return '<button class="btndelete btn btn-outline-danger font-weight-bold" id="' + row.guid + '"type="button" >Delete</button>';
        }

        $(document).ready(function () {
            $('#loaderimg').hide();
            $('#btn_reset').click(function () {
                saveAndResetBtn('Photos/Reset')
            });
            $('#save_button').click(function () {
                saveAndResetBtn('Photos/SavePhoto')
            });
            addNewImage();
        });


        function saveAndResetBtn(path) {
            $.ajax({
                type: 'POST',
                url: path,
                success: function () {
                    $table.bootstrapTable('getHiddenRows', true);
                    $table.bootstrapTable('refresh');
                },
            });
        }

        function addNewImage() { // add image into session
            $('input[type=file]').change(function (event) {
                event.preventDefault();
                var file = event.target.files[0];
                var valid = $('#post_file_form').valid();
                if (valid) {
                    var formdata = new FormData();
                    formdata.append('FormFile', file);
                    $.ajax({
                        type: 'POST',
                        url: 'Photos/Index',
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            $('#loaderimg').hide();
                            $table.bootstrapTable('refresh');
                        },
                        error: function (error) {
                            $('#loaderimg').hide();
                        }
                    });
                }
            });
        }
    </script>
}